<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>change locale</title>
</head>
<body>
    <a href="/authenticate" target="_self">authenticate </a> </br>
    <a href="/locale">update locale </a></br>
    <a href="/strash">search trash </a> </br>
    <a href="/widget">widget</a></br>
    <%= @cookie %>
</body>
</html>