<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>change locale</title>
</head>
<body>
  <form method ="post" action ="/updatelang">
     <select name="lang">
        <option value="en">English</option>  
        <option value="ja">日本語</option>
     </select>
      <input type="submit" name="Submit" />

</body>
</html>