<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
</head>
<body>
  <script>
  $(document).ready(function(){
    $('#search').click(function() {
      var el = $('#term').val();
     alert(el);
      });
  });
</script>


<input type="text" id="term"></input>
<input type="button" id="search">



</body>
