<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>single file collab</title>
</head>
<body>
  <h1>File name <%= @name %>!</h1>
  <form method="post" action="/invite2file"
       <select name="lang">
        <option value="editor">Editor</option>  
        <option value="viewer">viewer</option>
        <option value="previewer">previewer</option>
     </select>
      <input type="text" />
      <input type="submit" name="Submit" />
</body>
</html>